<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <%- include("partials/menu") -%>
  <h1>
    <%= title %> 
    <button id="showAll" class="btn btn-primary">Ver Servicios</button>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <script>
    document.getElementById('showAll').addEventListener('click', function () {
      window.location.href = '/servicios/findAll/view';
    });
  </script>
</body>

</html>